
<main>
    <div class="container">
        <div class="principal">
            <div class="nome"><strong>Nome do usuário</strong></div>
            <div class="especializacao"> 
                <p>Logotipo do Angular</p> 
            </div>
            <img src="assets/img/logo.png" />
            <div class="titleprincipal">
                <p><strong>Dados:</strong></p>
            </div>
            <div class="dados">
                <p>CPF: XXX.XXX.XXX-XX</p>
                <p>Data de Nascimento: XX/XX/XXXX</p>
            </div>
            <div class="titleprincipal">
                <p><strong>Contato:</strong></p>
            </div>
            <div class="dados">
                <p>Telefone: (84) 99999-9999</p>
                <p>E-mail: pedrogmail.com</p> 
            </div>
        </div>
        <div class="secundario">
            <div class="titlesec">
                <h1> Sobre </h1>
            </div>
            <div class="resumo">
                <p>O Angular é um framework front-end de código aberto, mantido pelo Google, usado para criar aplicações web dinâmicas e de alta performance. Ele é baseado em TypeScript e segue uma arquitetura modular, facilitando o desenvolvimento de aplicações complexas e escaláveis.</p>
            </div>

            <div class="vantagens">
                <h2>Vantagens:</h2>
                    <p>Arquitetura MVC (Model-View-Controller)</p>
                    <p>Baseado em TypeScript</p>
                    <p>Ferramentas Avançadas e Angular CLI</p>
            </div>

            <div class="desvantagens">
                <h2> Desvantagens:</h2>
                    <p>Curva de Aprendizado Íngreme</p>
                    <p>Atualizações Complexas</p>

            </div>

            <div class="ficha">
                <h2> Utiliza: </h2>
                    <p> TypeScript; </p>
                    <p> JavaScript; </p>
                    <p> AngularJS; </p>
            </div>
        </div>
    </div>
</main>