<main>
    <div class="divlogin">
        <section class="wrapper">
            <h1>Login</h1>
            <form action="" method="post">
                <input type="email" class="input-field" placeholder="Email" name="email" required>
                <input type="password" class="input-field" placeholder="Password" name="password" required>
                <button type="submit" class="botao"> Entrar </button>
            </form>
            <p>Não possui uma conta? <a href="/cadastro">Crie sua conta aqui!</a></p>
        </section>
    </div>
</main>