* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex: 1;
    background-color: rgb(37, 37, 37);
}

.container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.bloco {
    background-color: #191919;
    color: white;
    padding: 20px;
    width: 15%;
    text-align: center;
    border-radius: 8px;
}

