<main>
    <div class="home_data">
        <div class="home_img">
            <img src="assets/img/base.png" alt="">
        </div>
        <div class="home_cards">
            <div class="home_card">
                <h2>Bem-vindo ao Angular 🚀</h2>
                <p>Um framework que utiliza TypeScript!</p>
                <br>
            </div>
            <div class="home_card">
                <h2>Mais informações ❗</h2>
                <p>Informações sobre o site e empresa <a href="https://angular.dev/">aqui</a></p>
                <br>
            </div>
            <div class="home_card">
                <h2>Artigo em Destaque 📓</h2>
                <p>Este é um conteúdo independente, como uma notícia ou post de blog.</p>
            </div>
        </div>

    </div>
    
</main>