<main>  
    <div class="container">
        <div class="bloco">
            <h1>Bem-vindo ao Angular 🚀</h1>
            <p>Um framework que utiliza TypeScript!</p>
        </div>
        <div class="bloco">
            <h2>Sobre Nós ❗</h2>
            <p>Informações sobre o site ou empresa <button class="btn secondary" (click)="irParaPerfil()">Aqui</button></p>
        </div>
        <div class="bloco">
            <h2>Artigo em Destaque 📰</h2>
            <p>Este é um conteúdo independente, como uma notícia ou post de blog.</p>
        </div>
    </div>
</main>